body{
    background-image: url("images/background.png");
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto sans-serif;
}
.wrap{
    width: 1023px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
}
a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.svg_inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.logo a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}
.svg_inline:hover {
    filter: invert(57%) sepia(53%) saturate(5887%) hue-rotate(350deg) brightness(101%) contrast(90%);
}
a:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.logo_link{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts a:hover {
    color: #F26522;
    transition: 0.5s;
}
.mail-position  {
    top: 20px;
}
.phone-position  {
    top: 30px;
    margin: 10px;
}
.main{
    display: grid;
    width: 1030px;
}
.grid{
    display: grid;
    width: 1030px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    grid-template-areas:
           "a b c"
           "d e f";
    grid-gap: 70px;
}
.grid > div{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 5px;
    text-align: center;
    margin-top: 30px;
}
.item_a{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/shoping_tours.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: a;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.item_b{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/sight_tours.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: b;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.item_c{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/food_tours.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: c;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.item_d{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/night_life.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: d;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.item_e{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/art.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: e;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.item_f{
    box-sizing: border-box;
    background-size: 300px 220px;
    background-image: url("images/walking_tours.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: f;
    width: 300px;
    height: 220px;
    padding-bottom: 30px;
}
.copyright{
    display: flex;
    width: 1030px;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 79px;
}
.hover_block {
    display: flex;
    opacity: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: 110px;
    left: 0px;
}
.from {
    position: absolute;
    left: 21px;
    top: 2px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
}
.price {
    position: absolute;
    left: 21px;
    top: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}
.view_details {
    position: absolute;
    left: 185px;
    top: 25px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto';
}
.arrow {
    color: white;
    position: absolute;
    left: 270px;
    top: 32px;
}
.arrow::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.shop {
    position: relative;
    top: 130px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}
.item_a p{
    text-align: center;
}
.item_a:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_a:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_a:hover p {
    color: #F26522;
    transition: 0.5s;
}
.item_b p{
    text-align: center;
}
.item_b:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_b:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_b:hover p {
    color: #F26522;
    transition: 0.5s;
}
.item_c p{
    text-align: center;
}
.item_c:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_c:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_c:hover p {
    color: #F26522;
    transition: 0.5s;
}
.item_d p{
    text-align: center;
}
.item_d:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_d:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_d:hover p {
    color: #F26522;
    transition: 0.5s;
}
.item_e p{
    text-align: center;
}
.item_e:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_e:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_e:hover p {
    color: #F26522;
    transition: 0.5s;
}
.item_f p{
    text-align: center;
}
.item_f:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}
.item_f:hover .hover_block {
    opacity: 1;
    transition: 0.5s;
}
.item_f:hover p {
    color: #F26522;
    transition: 0.5s;
}
/*.img-responsive {*/
/*    position: relative;*/
/*    width: 296px;*/
/*    height: 300px;*/

/*}*/

/*.range-txt {*/
/*    position: absolute;*/
/*    bottom: 0%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    color: #000;*/
/*    font-size: 20px;*/
/*    padding: 10px 10px 10px 16px;*/
/*    text-align: center;*/
/*}*/

/*.position-rage-bottom {*/
/*    padding-bottom: 20px;*/
/*}*/

/*button {*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    width: 200px;*/
/*    height: 40px;*/
/*    top: 100px;*/
/*    background: rgba(0, 0, 0, .3);*/
/*    left: calc(50% - 100px);*/
/*    color:#fff;*/
/*    transition: opacity .3s;*/
/*}*/

/*!*.img-responsive:hover button {*!*/
/*!*    opacity: 1;*!*/
/*!*    transition: opacity .3s;*!*/
/*!*}*!*/
/*!*<div class="col-sm-4 img-responsive">*!*/
/*!*<img src="http://www.mydoska.com/images/normal/491968.jpg">*!*/
/*!*<span class="range-txt position-rage-bottom">*!*/
/*!*                                            Мебель для персонала<br>*!*/
/*!*<strong>от 2 012 руб.</strong>*!*/
/*!*</span>*!*/
/*!*<button>Заказать консультацию</button>*!*/
/*!*</div>*!*/